[ellipsis] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[ellipsis-2] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
[n-w-100] {
  width: 100%;
}
[card] {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.065);
}
